<!-- Header -->
<header>
	<a name="home"></a>
	<div class="container-fluid">
		<div id="header_row" class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4" id="company_name">Floral Company</div>
			<div class="col-sm-4" id="nav">
				<div id="nav_home"><%= link_to 'Home', (root_path + '#home'), :class => 'btn btn-mini' %></div>
				<div id="nav_eventInquiry"><%= link_to 'Event Inquiry', (root_path + '#eventInquiry'), :class => 'btn btn-mini' %></div>
				<div id="nav_contactInfo"><%= link_to 'Contact Info', (root_path + '#contactInfo'), :class => 'btn btn-mini' %></div>
			</div>
		</div>
	</div>

<!-- Masonry Image -->

<div class="container main-container">
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">Roses</a></li>
      <li role="presentation"><a href="#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">Marigolds</a></li>
      <li role="presentation"><a href="#panel-3" aria-controls="panel-3" role="tab" data-toggle="tab">Lilies</a></li>
      <li role="presentation"><a href="#panel-4" aria-controls="panel-4" role="tab" data-toggle="tab">Dahlias</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="panel-1">
        <div class="row masonry-container">
          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://floweryweb.com/wp-content/uploads/2015/01/bunch-of-pink-roses-wallpaper-gxpqtumo.jpg" alt="">
              <div class="caption">
                <h3>Pink Roses</h3>
                <p>A Dozen For $12.95 </p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
	          	<img src="https://adelswart.files.wordpress.com/2013/09/wooden_roses.jpg" alt="">
              <div class="caption">
                <h3>Multi-Color Rose Selection</h3>
                <p>Our Rainbow Of Roses For $39.99</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://cdn1.1800flowers.com/wcsstore/Flowers/images/catalog/1064pkrdz.jpg" alt="">
              <div class="caption">
                <h3>Pink and Red Roses</h3>
                <p>Our Ellegent Rose Pot For $29.99</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://a121.g.akamai.net/7/121/21164/20140522105646/content.fromyouflowers.com/images/products/large/F-525.jpg" alt="">
              <div class="caption">
                <h3>Classic Red Roses</h3>
                <p>A Timeless Classic for $14.95</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://image.dhgate.com/albu_262706958_00-1.0x0/the-bride-holds-heart-shaped-blue-rose-flower.jpg" alt="">
              <div class="caption">
                <h3>Dark Blue and White Roses</h3>
                <p>Our Dark Blue And White Rose Heart Arrangement For $34.95 </p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://www.tumblr18.com/t18/2014/08/Light-pink-rose-bakset.jpg" alt="">
              <div class="caption">
                <h3>Pink Rose and Basket</h3>
                <p>Pink Basket With Pink Rose Arrangement for $24.99</p>
              </div>
            </div>
          </div>

        </div> <!--/.masonry-container  -->
      </div><!--/.tab-panel -->

      <div role="tabpanel" class="tab-pane" id="panel-2">

        <div class="row masonry-container">

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/city" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/city" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/city" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/city" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/city" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div>

        </div> <!--/.masonry-container  -->

      </div><!--/.tab-panel -->

      <div role="tabpanel" class="tab-pane" id="panel-3">
        <div class="row masonry-container">

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/nature" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/nature" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/nature" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/nature" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://lorempixel.com/200/200/nature" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
              </div>
            </div>
          </div>

        </div> <!--/.masonry-container  -->
      </div><!--/.tab-panel -->

      <div role="tabpanel" class="tab-pane" id="panel-4">
        <div class="row masonry-container">

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://greenmylife.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/Dahlia_-_Indian_Botanic_Garden_-_Howrah_2012-01-29_1770.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
            <img src="http://www.marthastewart.com/sites/files/marthastewart.com/images/content/tv/martha_stewart_show/show_photos/3001_3050/tvm3008_091807_dahlias_xl.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://www.bouquetweddingflower.com/wp-content/uploads/2011/07/red-blue-dahlias-bouquet.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://farm3.static.flickr.com/2577/3744821699_ae162008d8.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://i2.photobucket.com/albums/y39/kkmickleson/Garden%20Bouquets/OrangeVaseBouquet1SFW.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div><!--/.item  -->

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://ts4.mm.bing.net/th?id=JN.VMzrOyS/gY6cdNgH6zCS1g&amp;%3Bw=256&amp;%3Bh=135&amp;%3Bc=7&amp;%3Brs=1&amp;%3Bqlt=90&amp;%3Bo=4&amp;%3Bpid=1.7" alt="">
              <div class="caption">
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="https://donsdahliasetc.files.wordpress.com/2013/02/117_1785.jpg?w=300">
              <div class="caption">
              </div>
            </div>
          </div>

		  <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="http://www.inspiredbythis.com/wp-content/uploads/2010/03/Dahlias.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 item">
            <div class="thumbnail">
              <img src="https://www.flowermag.com/content/uploads/2011/09/dahlia1.jpg" alt="">
              <div class="caption">
              </div>
            </div>
          </div>


        </div> <!--/.masonry-container  -->
      </div><!--/.tab-panel -->
    </div> <!--/.tab-content -->
  </div> <!--/.tab-panel  -->
</div><!-- /.container -->
  

<!-- Event Form -->
	<a name="eventInquiry"></a>
	<div class="container main-container">
	    <div class="row masonry-container">
	    	<div class="col-md-2 col-sm-1 item"></div>
        	<div class="col-md-8 col-sm-10 item">
				<div id="event-form">
					<div id="ef-title">Event Inquiry Form</div>
					<div id="ef-explanation">Fill out the form below to email us regarding any questions about event planning.</div>
					<%= form_for Contact.new, url: "/home", action: "create", method: "post", :html => { :class => 'form-horizontal', multipart: true }  do |f| %>

					<%= f.text_field :name, placeholder: "Your Name" %><br />

					<%= f.text_field :email, placeholder: "Your Email" %><br />

					<%= f.text_area :message, placeholder: "Message" %><br />
				
					<%= f.submit 'Submit', :class => 'formbuttons' %>
					<% end %>
				</div>
			</div>
			<div class="col-md-2 col-sm-1 item"></div>
		</div>
	</div>

<!-- Contact Info -->
	<a name="contactInfo"></a>
	<div id="contactInfo">
	<p>hey There</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</header>